/build

out/production

.idea/workspace.xml
.idea/.name
.idea/gradle.xml
.idea/httpRequests
.idea/kotlinc.xml
.idea/misc.xml
.idea/modules
.idea/vcs.xml
.idea/*

.gradle/4.6
.gradle/buildOutputCleanup
.gradle/vcsWorkingDirs

share-food.iml
local.properties