
.idea/
.idea/workspace.xml
.idea/.name
.idea/gradle.xml
.idea/httpRequests
.idea/kotlinc.xml
.idea/misc.xml
.idea/modules
.idea/vcs.xml
.idea/libraries
.idea/modules.xml
.idea/runConfigurations.xml

.gradle/4.6
.gradle/buildOutputCleanup
.gradle/vcsWorkingDirs

share-food.iml
local.properties
app/app.iml
app/build/
build
.gradle