<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="food.sharefood.com.sharefood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".util.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">


        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".signup.SignupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".add_food_post.AddPostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view_post.ViewPostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".forgot_password.ForgotPassword"
            android:screenOrientation="portrait" />

        <activity android:name=".add_food_post.MapViewActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".search.SearchActivity"
            android:screenOrientation="portrait"/>


        <activity android:name=".image_preview.ImagePreviewActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@androidcloud" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="food.sharefood.com.sharefood.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>


    </application>

</manifest>